{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Student Transaction History</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{%static 'cssfiles/s-h-transactions.css' %}">
</head>

<body>
    {% csrf_token %}
    <nav class="navbar navbar-style">
        <div class="navbar header">
            <a class="navbar-brand" href="#"> <img class="logo" src="{%static 'imgfiles/logo.png' %}"></a>
            <h1 style="font-size: 40px;font-family: sans-serif;color: rgb(5, 5, 5);">TRANSACTION HISTORY</h1>
        </div>

    </nav>

    <div style="overflow-x:auto;" class="col-sm-12">
    <table class="table table-bordered table-dark table-hover">
        <thead>
            <th>LRN</th>
            <th>Name</th>
            <th>Quarter</th>
            <th>Week</th>
            <th>Module</th>
            <th>Status</th>
        </thead>
        <tbody>
            {% for data1,data2 in zipped %}
            <tr>
                <td>{{data1.lrn}}</td>
                <td>{{data1.username}}</td>
                <td>{{data2.quarter}}</td>
                <td>{{data2.week}}</td>
                <td>{{data2.modules}}</td>
                <td>{{data2.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="container">
        <a href ="{% url 'Login' %}"><button type="button1" class="btn btn-secondary float-sm-right">Exit</button></a>
    </div>

</body>

</html>